@import 'mixins/flexbox';
@import 'colors';
@import 'header';

/* Base Application Styles */
body {
  background: $gray;
}

.yeoman {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}
